#mainAd {
  width: 800px;
  height: 200px;
  background: red;
}

#AdInfoLinks{
	width: 200;
    	height: 400;
    	Z-index: 1;
}

#adInfoTab{
	top: 380px;
    	left: 735px;
    	position: fixed;
}

#newDivBody{
	background-color: #A9A9A9;
    	border-style: solid;
    	border-width: 1px;
    	height: 283px;
    	left: 506px;
    	position: fixed;
    	top: 123px;
    	width: 300px;
}

#optOutLink{
	left: 512px;
    	position: fixed;
}

#comapanyInfoLink{
	left: 512px;
    	position: fixed;
	top: 208px;
}

#returnLink{
	left: 512px;
    	position: fixed;
	top: 167px;
}
