#{extends 'main.html' /}
#{set title:'Home' /}


<html>
<head>
<script type="text/javascript" language="javascript">

   

    function createDiv()
    {        
	var divTag = document.createElement("div");
       
        divTag.id = "AdInfoLinks";
       
        divTag.setAttribute("align","center");
       
        divTag.style.margin = "0px auto";
       
        divTag.className ="dynamicDiv";
          	
//alert("${imageName}");
	divTag.innerHTML ="<div id='newDivBody'><a id='list' href='@{Application.logOptOut(imageName)}'>Yes, Opt Out</a> </div>"


	
        document.body.appendChild(divTag);
    }



  

    </script>
</head>
</html>

<script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="utf-8"></script>


<div id="main-ad">
  <img id="ad-image" src="/public/images/${imageName}.jpg"/>

	<div id="adInfoTab">	
	<a id="Ad Info" href="javascript:createDiv()" <IMG SRC="/public/images/Screenshot.png"> <value="create div" ></a>
	</div>
	<div>
	<a id="list" href="@{Application.displayAdsViewedLog()}">Ad Viewed Info</>
	</div>

</div>




